BASE_URL=https://citas.example.com
APP_PORT=8095
DB_PASSWORD=
MYSQL_ROOT_PASSWORD=
MAIL_PROTOCOL=mail
MAIL_SMTP_HOST=
MAIL_SMTP_USER=
MAIL_SMTP_PASS=
MAIL_SMTP_PORT=587
MAIL_SMTP_CRYPTO=tls
MAIL_SMTP_AUTH=1
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=Serael Recepcion
MAIL_REPLY_TO_ADDRESS=
